# https://console.aiven.io/
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=defaultdb
SSL_MODE=require

# https://aistudio.google.com/api-keys
GEMINI_API_KEY=

# https://console.groq.com/keys
GROQ_API_KEY=

# https://cloud.qdrant.io/ (Optional)
QDRANT_URL=
QDRANT_API_KEY=

# Cryptographic URL Cache Hashing
URL_HASH_ALGORITHM=sha256
URL_HASH_SECRET=