# https://console.aiven.io/
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=defaultdb
SSL_MODE=require

# Google API Key, get it from https://aistudio.google.com/api-keys
GEMINI_API_KEY=

# Groq API Key, get it from https://console.groq.com/keys
GROQ_API_KEY=

# Upstash Redis Semantic Cache (https://console.upstash.com/redis)
REDIS_URL=rediss://default:YOUR_TOKEN@YOUR_HOST.upstash.io:6379

# https://cloud.qdrant.io/
QDRANT_URL=
QDRANT_API_KEY=

# Cryptographic URL Cache Hashing
URL_HASH_ALGORITHM=sha256
URL_HASH_SECRET=